#!/usr/bin/env python
# Written by Kevin Cole <kjcole@gallaudet.edu> 2012.02.17
#
# Following the basic model provided at
#     http://code.google.com/p/modwsgi/wiki/IntegrationWithDjango
#

import os, sys
sys.path.append("{{ web_app_path }}")
os.environ["DJANGO_SETTINGS_MODULE"] = "resources.settings"

import django.core.handlers.wsgi

application = django.core.handlers.wsgi.WSGIHandler()
