# Last modified by Kevin Cole <kjcole@gallaudet.edu> 2012.02.22
#
# 2012.02.17 KJC - Make a TEMPORARY test application
# 2012.02.22 KJC - Extracted from wsgi.conf to make django.conf
# 2014-08-06 BRS - Renamed to research.conf and added WSGIPythonPath

<Directory /var/www/wsgi-scripts>
  Order allow,deny
  Allow from all
</Directory>

WSGIScriptAlias /wsgi-test /var/www/wsgi-scripts/wsgi-test.wsgi
WSGIScriptAlias /resources /var/www/wsgi-scripts/resources.wsgi

WSGIPythonPath {{ web_app_path }}

<Directory {{ web_app_path }} >
  <Files wsgi.py >
    Allow from all
  </Files>
</Directory>
